@model ProjetoBancoDados.Models.LugarVisita
<link rel="stylesheet" href="~/css/Imprimir.css" asp-append-version="true" />
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
@{
    Layout = null;
    ViewData["Title"] = "Details";
}

<div class="titulo">
    <h1>Museu de Artes</h1>
</div>

<div>
    <hr />
    <dl class="row">
        <div class="primeiro">
            <dt class="col-sm-2" style="font-weight:bold;">
               Visita: @Html.DisplayFor(model => model.Visita.DataVisita)
            </dt>
        </div>
        <div class="primeiro">
            <dt class="col-sm-2" style="font-weight:bold">
                Lugar: @Html.DisplayFor(model => model.Lugar.NomeLugar)
            </dt>
        </div>
        <hr />
        
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <h5>Nome da Obra</h5>
            </th>
            <th>
                <h5>Artista</h5>
            </th>              
        </tr>
    </thead>    
    <tbody>
        @foreach (var item in Model.ObraDeArte)
        {
            <tr>
                <td>
                   @Html.DisplayFor(modelItem => item.NomeObra)
                </td>
                <td>
                   @Html.DisplayFor(modelItem => item.Artista.NomeArtista)
                </td>              
            </tr>
        }
    </tbody>
</table>
